[Desktop Entry]
Name=Snipper
Exec=gnome-screenshot --area
Icon=/usr/share/icons/zweezy_snipper/screen_shot.ico
Terminal=false
Type=Application
Categories=GNOME;
Actions=screen_shot;
